<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>RFPGurus</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body style="background:#ffffff; font-family: Verdana;">
<table style="width: 700px; margin: 0 auto; border-collapse: collapse; background:#fff; text-align:left; table-layout: fixed; font-family: Verdana;" cellspacing="0" cellpadding="0">
    <tr>
        <td style="width: 100%; padding:20px 30px" colspan="2">
            <a target="_blank" href="https://www.rfpgurus.com/" style="display:block; color: blue; font-size: 10px;"><img src="https://www.rfpgurus.com/assets/img/logo.png"></a>
        </td>
    </tr>
    <tr>
        <td style="width: 100%; padding: 0 30px; background: #ffffff;" colspan="2">
        <h2 style="color: #cc0000; margin: 10px 0; font-size: 32px;">ALERT</h2>
        </td>
    </tr>
{% if days15 != None %}
    {% if days15 %}
         <tr>
            <td colspan="2" style="padding: 20px; background: #fff">
                <h3><span style="color: #cc0000">15</span> Days Left to Over Submission Deadline</h3>
            </td>
         </tr>
        {% endif %}
{% endif %}
{% if days15 != None %}
    {% for item in days15 %}

        <tr>

            <td colspan="2" style="padding: 20px; background: #fff">

            <div style="width:100%; float: left; background: #ffffff; border: 1px solid #000; border-radius: 7px; padding: 20px; box-shadow: 0 2px 10px -2px #000; position: relative;">
                <div style="width: 50%; float: left;">
                    <p style="text-align: left; color:#f80000; font-weight: 600; font-size:18px; margin: 0 0 10px;"><a href="https://www.rfpgurus.com/rfp/{{ item.seoTitleUrl }}" >{{ item.title }}</a></p>
                    <p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Category:</strong>{{ item.category }}</p>
                    <p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Agency:</strong>{{ item.agency }}</p>
                    <p styNonele="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>State:</strong>{{ item.state }}</p>
                </div>
                <div style="width: 50%; float:right;">
                    <table style="border-collapse: collapse; table-layout: fixed; text-align: center; margin-top: 15px;">
                        <tr>
                            <td style="border: 2px solid #000000; padding: 10px; color: #ffffff; background: #505050;">Posted Date</td>
                            <td style="border: 2px solid #000000; padding: 10px; color: #ffffff; background: #505050;">Submission Deadline</td>
                        </tr>
                        <tr>
                            <td style="border: 2px solid #000000; padding: 10px; color: #505050; font-weight:600; background: #ffffff;">{{ item.date_entered }}</td>
                            <td style="border: 2px solid #000000; padding: 10px; color: #505050; font-weight: 600; background: #ffffff;">{{ item.due_date }}</td>
                        </tr>
                    </table>
                </div>
                <div style="width:100%; float:left;">
                </div>
            </div>
        </td>

    </tr>

    {% endfor %}
{% endif %}
{% if days7 != None %}
    {% if days7 %}
         <tr>
            <td colspan="2" style="padding: 20px; background: #fff">
                <h3><span style="color: #cc0000">7</span> Days Left to Over Submission Deadline</h3>
            </td>
         </tr>
        {% endif %}
{% endif %}
{% if days7 != None %}
    {% for item in days7 %}

        <tr>

            <td colspan="2" style="padding: 20px; background: #fff">
            <div style="width:100%; float: left; background: #ffffff; border: 1px solid #000; border-radius: 7px; padding: 20px; box-shadow: 0 2px 10px -2px #000; position: relative;">
                <div style="width: 50%; float: left;">
                    <p style="text-align: left; color:#f80000; font-weight: 600; font-size:18px; margin: 0 0 10px;"><a href="https://www.rfpgurus.com/rfp/{{ item.seoTitleUrl }}" >{{ item.title }}</a></p>
                    <p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Category:</strong>{{ item.category }}</p>
                    <p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Agency:</strong>{{ item.agency }}</p>
                    <p styNonele="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>State:</strong>{{ item.state }}</p>
                </div>
                <div style="width: 50%; float:right;">
                    <table style="border-collapse: collapse; table-layout: fixed; text-align: center; margin-top: 15px;">
                        <tr>
                            <td style="border: 2px solid #000000; padding: 10px; color: #ffffff; background: #505050;">Posted Date</td>
                            <td style="border: 2px solid #000000; padding: 10px; color: #ffffff; background: #505050;">Submission Deadline</td>
                        </tr>
                        <tr>
                            <td style="border: 2px solid #000000; padding: 10px; color: #505050; font-weight:600; background: #ffffff;">{{ item.date_entered }}</td>
                            <td style="border: 2px solid #000000; padding: 10px; color: #505050; font-weight: 600; background: #ffffff;">{{ item.due_date }}</td>
                        </tr>
                    </table>
                </div>
                <div style="width:100%; float:left;">
{#                	<p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Description:</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ item.deescription }}o</p>#}
                </div>
            </div>
        </td>

    </tr>

    {% endfor %}
{% endif %}
{% if days5 != None %}
    {% if days5 %}
         <tr>
            <td colspan="2" style="padding: 20px; background: #fff">
                <h3><span style="color: #cc0000">5</span> Days Left to Over Submission Deadline</h3>
            </td>
         </tr>
        {% endif %}
{% endif %}

{% if days5 != None %}
    {% for item in days5 %}

        <tr>

            <td colspan="2" style="padding: 20px; background: #fff">
            <div style="width:100%; float: left; background: #ffffff; border: 1px solid #000; border-radius: 7px; padding: 20px; box-shadow: 0 2px 10px -2px #000; position: relative;">
                <div style="width: 50%; float: left;">
                    <p style="text-align: left; color:#f80000; font-weight: 600; font-size:18px; margin: 0 0 10px;"><a href="https://www.rfpgurus.com/rfp/{{ item.seoTitleUrl }}" >{{ item.title }}</a></p>
                    <p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Category:</strong>{{ item.category }}</p>
                    <p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Agency:</strong>{{ item.agency }}</p>
                    <p styNonele="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>State:</strong>{{ item.state }}</p>
                </div>
                <div style="width: 50%; float:right;">
                    <table style="border-collapse: collapse; table-layout: fixed; text-align: center; margin-top: 15px;">
                        <tr>
                            <td style="border: 2px solid #000000; padding: 10px; color: #ffffff; background: #505050;">Posted Date</td>
                            <td style="border: 2px solid #000000; padding: 10px; color: #ffffff; background: #505050;">Submission Deadline</td>
                        </tr>
                        <tr>
                            <td style="border: 2px solid #000000; padding: 10px; color: #505050; font-weight:600; background: #ffffff;">{{ item.date_entered }}</td>
                            <td style="border: 2px solid #000000; padding: 10px; color: #505050; font-weight: 600; background: #ffffff;">{{ item.due_date }}</td>
                        </tr>
                    </table>
                </div>
                <div style="width:100%; float:left;">
{#                	<p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Description:</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ item.deescription }}o</p>#}
                </div>
            </div>
        </td>

    </tr>

    {% endfor %}
{% endif %}
{% if days3 != None %}
    {% if days3 %}
         <tr>
            <td colspan="2" style="padding: 20px; background: #fff">
                <h3><span style="color: #cc0000">3</span> Days Left to Over Submission Deadline</h3>
            </td>
         </tr>
        {% endif %}
{% endif %}

{% if days3 != None %}
    {% for item in days3 %}

        <tr>

            <td colspan="2" style="padding: 20px; background: #fff">
            <div style="width:100%; float: left; background: #ffffff; border: 1px solid #000; border-radius: 7px; padding: 20px; box-shadow: 0 2px 10px -2px #000; position: relative;">
                <div style="width: 50%; float: left;">
                    <p style="text-align: left; color:#f80000; font-weight: 600; font-size:18px; margin: 0 0 10px;"><a href="https://www.rfpgurus.com/rfp/{{ item.seoTitleUrl }}" >{{ item.title }}</a></p>
                    <p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Category:</strong>{{ item.category }}</p>
                    <p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Agency:</strong>{{ item.agency }}</p>
                    <p styNonele="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>State:</strong>{{ item.state }}</p>
                </div>
                <div style="width: 50%; float:right;">
                    <table style="border-collapse: collapse; table-layout: fixed; text-align: center; margin-top: 15px;">
                        <tr>
                            <td style="border: 2px solid #000000; padding: 10px; color: #ffffff; background: #505050;">Posted Date</td>
                            <td style="border: 2px solid #000000; padding: 10px; color: #ffffff; background: #505050;">Submission Deadline</td>
                        </tr>
                        <tr>
                            <td style="border: 2px solid #000000; padding: 10px; color: #505050; font-weight:600; background: #ffffff;">{{ item.date_entered }}</td>
                            <td style="border: 2px solid #000000; padding: 10px; color: #505050; font-weight: 600; background: #ffffff;">{{ item.due_date }}</td>
                        </tr>
                    </table>
                </div>
                <div style="width:100%; float:left;">
{#                	<p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Description:</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ item.deescription }}o</p>#}
                </div>
            </div>
        </td>

    </tr>

    {% endfor %}
{% endif %}
{% if days1 != None %}
    {% if days1 %}
         <tr>
            <td colspan="2" style="padding: 20px; background: #fff">
                <h3><span style="color: #cc0000">1</span> Days Left to Over Submission Deadline</h3>
            </td>
         </tr>
        {% endif %}
{% endif %}
{% if days1 != None %}
    {% for item in days1 %}

        <tr>

            <td colspan="2" style="padding: 20px; background: #fff">
            <div style="width:100%; float: left; background: #ffffff; border: 1px solid #000; border-radius: 7px; padding: 20px; box-shadow: 0 2px 10px -2px #000; position: relative;">
                <div style="width: 50%; float: left;">
                    <p style="text-align: left; color:#f80000; font-weight: 600; font-size:18px; margin: 0 0 10px;"><a href="https://www.rfpgurus.com/rfp/{{ item.seoTitleUrl }}" >{{ item.title }}</a></p>
                    <p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Category:</strong>{{ item.category }}</p>
                    <p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Agency:</strong>{{ item.agency }}</p>
                    <p styNonele="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>State:</strong>{{ item.state }}</p>
                </div>
                <div style="width: 50%; float:right;">
                    <table style="border-collapse: collapse; table-layout: fixed; text-align: center; margin-top: 15px;">
                        <tr>
                            <td style="border: 2px solid #000000; padding: 10px; color: #ffffff; background: #505050;">Posted Date</td>
                            <td style="border: 2px solid #000000; padding: 10px; color: #ffffff; background: #505050;">Submission Deadline</td>
                        </tr>
                        <tr>
                            <td style="border: 2px solid #000000; padding: 10px; color: #505050; font-weight:600; background: #ffffff;">{{ item.date_entered }}</td>
                            <td style="border: 2px solid #000000; padding: 10px; color: #505050; font-weight: 600; background: #ffffff;">{{ item.due_date }}</td>
                        </tr>
                    </table>
                </div>
                <div style="width:100%; float:left;">
{#                	<p style="text-align: left; color:#282828; font-size:18px; margin:0 0 10px;"><strong>Description:</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ item.deescription }}o</p>#}
                </div>
            </div>
        </td>

    </tr>

    {% endfor %}
{% endif %}
    <tr>
        <td colspan="2" style="text-align: center; padding: 20px 20px 0; background: #fff">
            <p style="text-align: left; color:#4f4f4f; font-size:22px; font-weight: 600; margin:0 0 10px;">Thank You, <br> Team RFP<span style="color: #cc0000">Gurus</span></p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: #343434; color: #9aa0a6; padding:0 30px;">
            <p style="font-size:16px; padding: 5px; font-weight: 600; margin:0;">Follow us on Social Media</p>
            <p style="font-size:14px; padding: 5px; margin:0;">Add your voice to the conversation and get the latest news, views and insights.</p>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: #343434; padding:10px 30px">
            <a target="_blank" href="https://twitter.com/RFPGurus" style="margin-right: 10px; display: inline-block; margin-left: 10px">
                <img src="https://firebasestorage.googleapis.com/v0/b/sell4bids-4affe.appspot.com/o/imagesassets%2Fwelcome_tw_gray.png?alt=media&token=92279140-6562-4788-8f87-779eec1bf0d4">
            </a>
            <a target="_blank" href="https://www.facebook.com/RFPGurus-757980041074297/" style="display: inline-block;">
                <img src="https://firebasestorage.googleapis.com/v0/b/sell4bids-4affe.appspot.com/o/imagesassets%2Fwelcome_fb_gray.png?alt=media&token=313c3e0c-a3cd-4f5d-93e8-b963aecd16b6">
            </a>
            <a target="_blank" href="https://plus.google.com/" style="display: inline-block; margin-left: 10px">
                <img src="https://firebasestorage.googleapis.com/v0/b/sell4bids-4affe.appspot.com/o/imagesassets%2Fwelcome_g_gray.png?alt=media&token=90b1541a-af73-4bb2-b1c9-065175df5229">
            </a>
            <a target="_blank" href="https://www.linkedin.com/" style="display: inline-block; margin-left: 10px">
                <img src="https://firebasestorage.googleapis.com/v0/b/sell4bids-4affe.appspot.com/o/imagesassets%2Fwelcome_li_gray.png?alt=media&token=41ed75c3-4649-4b71-800b-484a0ae5e491">
            </a>
            <a target="_blank" href="https://www.youtube.com/" style="display: inline-block; margin-left: 10px">
                <img src="https://firebasestorage.googleapis.com/v0/b/sell4bids-4affe.appspot.com/o/imagesassets%2Fwelcome_yt_gray.png?alt=media&token=310a2c18-d2c6-473d-a220-2a8462eb61a3">
            </a>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="background: #343434; color: #9aa0a6; width:100%; font-family: Verdana; font-weight: 600; padding:10px 30px 20px; font-size: 16px;">
            <p style="margin: 0; font-size: 14px; font-weight: 300;">Not subscribed to our newsletter yet? <a target="_blank" href="https://www.rfpgurus.com/sign-up" style="color:#1a73e8;">Sign up</a></p>
            <a target="_blank" href="https://www.rfpgurus.com/" style="font-size: 14px; color:#1a73e8;">Visit our website <img style="vertical-align: middle" src="https://firebasestorage.googleapis.com/v0/b/sell4bids-4affe.appspot.com/o/imagesassets%2Fwelcome_email%2FRead%20More.png?alt=media&token=1bf3de30-adc3-4b57-a77f-8bfce4faa7f6"></a>
        </td>
    </tr>
</table>
</body>
</html>